<h1>Team <%= @team_name %></h1>
<p>Team Motto: <%= @team_motto %></p>
<% @heroes.each do |hero| %>
  Hero's Name: <%= hero.name %><br/>
  Hero's Power: <%= hero.power %><br />
  Hero's Bio: <%= hero.bio %><br />
<% end %>